<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitre %></title>
    <link rel="stylesheet" href="/CSS/panier.css"> 
    <script src="/JS/scripts.js"></script>
<script src="/JS/panier.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <!-- <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" /> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/CSS/styles.css" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">CityMarket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/articles">Catalog</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/panier">Cart</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/apropos">About</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/connexion"><%= page %></a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/inscription">Sign Up</a></li>
              <li class="nav-item hidden" id="ID" ><a class="nav-link px-lg-3 py-3 py-lg-4"  href="/admin_articles">Admin</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<header
    class="masthead"
    style="background-image: url('/images/Deep Teal Background.png')"
    ;
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Cart</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
<body>
  <br>
  <div id="articles">
    <br><br><br>
    <h2>Cart :</h2>
    <% let prixTotal = 0; %>
    <% for (var i = 0; i < data.length; i++) { %>
      <div class="vetements" data-marque="<%= data[i].marque_vetement %>">
        <a href="/articles/<%= data[i].vetement_id %>" title="<%= data[i].marque_vetement %> - <%= data[i].nom_vetement %>">
          <img class="imgVetement" src="<%= data[i].image %>" alt="<%= data[i].nom_vetement %>"></a>
          <div class="nomVetement"><%= data[i].marque_vetement %> - <%= data[i].nom_vetement %></div>
          <div class="prix"><%= data[i].prix %>$</div>
          <div class="buttons">
            <form action="/panier/<%= data[i]._id %>?_method=DELETE" method="POST">
              <button type="submit" class="buttonSupprimer">Delete</button>
            </form>
          </div>
      </div>
      <% prixTotal += data[i].prix; %>
    <% } %>
    <hr>
    <div class="total">TOTAL: <%= (prixTotal * 1.15).toFixed(2) %> $</div>
      <% prixTotalFinal = (prixTotal * 1.15).toFixed(2) %>

    <script src="https://www.paypal.com/sdk/js?client-id=AWwprGc6-eQkpdR0XDlTbMSCOz2MqamN9hd0JzdGihkjufPz3AUK-F1c8aMMW5pq-6flKTzLPnIgsofM&currency=USD"></script>
    <div id="paypal-button-container"></div>
    <script>
      paypal
        .Buttons({
          createOrder: function () {
            return fetch("/my-server/create-paypal-order", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                cart: [
                  {
                    sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                    quantity: "YOUR_PRODUCT_QUANTITY",
                  },
                ],
              }),
            })
              .then((response) => response.json())
              .then((order) => order.id);
          },
          onApprove: function (data) {
            return fetch("/my-server/capture-paypal-order", {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                orderID: data.orderID,
              }),
            })
              .then((response) => response.json())
              .then((orderData) => {
                console.log(
                  "Capture result",
                  orderData,
                  JSON.stringify(orderData, null, 2)
                );
                const transaction = orderData.purchase_units[0].payments.captures[0];
                alert(
                  "Transaction " +
                    transaction.status +
                    ": " +
                    transaction.id +
                    "\n\nSee console for all available details"
                );
              });
          },
        })
        .render("#paypal-button-container");
    </script>
  </div>
  
  <script>
    function checkCondition() {
  
      fetch('/getVariableValue')
    .then(response => response.json())
    .then(data => {
      var variableValue = data.variableName;
      console.log(variableValue);
      if(variableValue == true){
        var item = document.getElementById('ID');
        item.style.display = 'block'
      }else{
        item.style.display = 'none'
      }
  
    })
    .catch(error => {
      console.error('Error:', error);
    });
  
  
    }
  window.onload = checkCondition; 
  </script>
</html>
